.edit-menu-web-form {
    .form-edit {
        text-align: center;

        .ant-form-item {
            margin-top: 5px !important;
            margin-bottom: 5px !important;

            i {
                color: rgba(0,0,0,0.25);
            }

            .btn-submit {
                width: 100%;
            }
        }
    }
}